<%= form_with model: [@article, comment], local: true, class: 'needs-validation' do |form| %>
  <div class="mb-3">
    <%= form.label :text, class: 'form-label' %>
    <%= form.text_field :text, class: 'form-control', placeholder: 'Enter title' %>
  </div>

  <div class="d-flex justify-content-between">
    <%= form.submit 'Save Comment', class: 'btn btn-primary' %>
  </div>
<% end %>