<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= raw @html_content %>

      <p>
        <%= render_links(@links) %>
      </p>
    </div>
  </div>
</div>
